<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Facebook Prize Hunters Blacklist</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/nav' %>
<div class="container">
  <%= yield %>
</div>

<div class="divider"></div>
<div class="center">
  <p class="text-info-p">¿Deseas poder agregar usuarios de Facebook a esta lista?</p>
  <p class="text-info-p">Solicítalo a: blacklist@chocoyolabs.com</p>
</div>
</body>
</html>
